*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #c6feff;
    font-family: 'Sono', sans-serif;
    }

    .cabecalho{
    background-color: #5fd3e5;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    font-size: 55px;
    }
    .cabecalho_titulo{
    display: inline;
    }

    .cabecalho_imagem{
    width: 201px;
    height:195px;
    border-radius: 30px;
    }

    .cidade{
        display: flex;
        background-color: #87EC91;
        justify-content: space-around;
        align-items:center;
        margin: 20px;
        border-radius: 10px;
    }

    p.fotos_div-paragrafo{
        width: 112px;
    }

    .fotos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        background-color: #6AE37D;
        justify-items: center;
        gap:50px;
        margin: 1%;
        padding: 1%;
    }
   
    .fotos_div-imagem{
        width: 112px;
        height: 120px;
    }
    
    .rodape{
        background-color: ##C6FFD2;
    }

    p.rodape{
        display:block;
    }
